body {
  background-image: url('https://cdn.pixabay.com/photo/2023/03/22/11/07/seeds-7869190_1280.jpg');
  background-size:cover;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:rgb(181, 255, 200);
}

h2 {
  text-align: center;
  width: 80%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  position: absolute;
  top: 70px;
  left: 70%;
  transform: translateX(-50%);
  z-index: 999; /* Menetapkan z-index agar gambar berada di atas semua elemen */
}

.bg-utama{
  background: linear-gradient(320deg, #ffffffc4, #ffffffcc);
  border-radius: 10px; /* Sudut sudut kotak */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Bayangan */
  padding: 20px; /* Ukuran padding yang benar */
  
  width: 50%; /* Lebar kotak */
  max-width: 600px;
  min-width: 300px;
  margin:auto; /* Pusatkan kotak secara horizontal */
  flex-direction: column;
  position: absolute;
  top: 120px;
  left: 70%;
  transform: translateX(-50%);
  overflow: hidden;
  transition: max-height 1s ease-out, top 0.8s ease-in-out;
  margin-bottom: 50px;
  padding-bottom: 100px;
}


/* Mengatur Isi di dalam Data*/
.container, .containerDomisili {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 95%;
  transition: max-height 1s ease-out, top 0.8s ease-in-out;
  color: #757575;
  background-color: #ffffff;
}

.container h3, .containerDomisili h3 {
  cursor: pointer;
  display: flex; /* Menggunakan flexbox untuk mengatur posisi */
  flex-direction: column; /* Mengatur posisi IDS di bawah Nama */
  padding-left: 20px;
  padding-right: 20px;
}

.details {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;

}

.details table {
  width: 100%;
  margin-top: 0px;
}

.details th {
  text-align: left;
  color: #494949;
  font-size: 12px;
  min-width: 30px;
  display: block;
}

.details td {
  text-align: left;
  vertical-align: top;
  color: #888888;
  font-size: 12px;
}


.nama {
  font-size: 18px; /* Atur ukuran font Nama */
  margin-bottom: 5px; /* Jarak antara Nama dan IDS */
  color: #000000;
}

.domisili, .statussantri {
  font-size: 12px;
  display:block;
}


.ids {
  font-size: 12px; /* Atur ukuran font IDS */
}

.input-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  display: none; /* Sembunyikan input-container secara default */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.input-container input, 
.input-container select {
  margin-right: 5px;
  border-radius: 4px;
  height: 30px;
  border-width: 1px;
  border-color: #757575;
}

.submit-button {
  height: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




.cool-box {
  background: linear-gradient(320deg, #000000, #116301);
  border: 2px solid #016606;
  border-radius: 10px; /* Sudut sudut kotak */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Bayangan */
  padding: 20px; /* Ukuran padding yang benar */
  width: 80%; /* Lebar kotak */
  max-width: 300px;
  margin: auto; /* Pusatkan kotak secara horizontal */
  flex-direction: column;
  
  position:static;
  overflow: hidden;
  transition: max-height 1s ease-out, top 0.8s ease-in-out;
  margin-bottom: 50px;
}

.cool-box p {
  font-weight: bold;
  font-size:smaller;
  background-color: #ffffff00;
  color: #ffffff;
  padding-bottom: 0px;
  padding-top: 20px;
}


.Heading3 {
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#0502b4;
}


.visible {
  display: block;
  opacity: 1;
}

.hidden {
  display: none !important;
  opacity: 0;
}


.TTL{
  background-color: #dadada00;
  display:inline-flex;
  justify-content:space-between; /* Untuk memberikan jarak antara elemen-elemen di dalam .ttl */
}


.TTL button {
  background-color:#07971a;
  color: white;
  width: 80px;
}        



@keyframes l16 { 
  100%{transform: rotate(1turn)}
}



/* Gaya mode terang untuk semua dropdown */
select::-webkit-calendar-picker-indicator {
  color: #0a0a0a; /* Warna teks pada mode gelap */
  background-color: #f7f7f7; /* Warna latar belakang pada mode gelap */
}

/* Gaya mode gelap untuk semua dropdown */
@media (prefers-color-scheme: dark) {
  select::-webkit-calendar-picker-indicator {
      color: #fff; /* Warna teks pada mode gelap */
      background-color: #242424; /* Warna latar belakang pada mode gelap */
  }
}

#Judul{
  font-weight: bold;
}

#example {
  background-color: white; /* Memberikan latar belakang putih pada tabel */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan pada tabel */
  
}




.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
  padding-bottom: 200px;
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.sidebar h2 {
  color: white;
  text-align: left;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

.content {
  margin-left: 260px; /* Sama dengan lebar sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

/* Media query untuk layar kecil */
@media screen and (max-width: 768px) {
  .sidebar {
      transform: translateX(-100%);
  }
  
  .content {
      margin-left: 0;
  }

  .sidebar.active {
      transform: translateX(0);
  }

  .content.active {
      margin-left: 250px; /* Sama dengan lebar sidebar */
  }

  .bg-utama {
      left: 50%;
      width: 90%;
  }
  
  .logo-container {
    left: 50%;
  }
}

.toggle-btn {
  position: fixed;
  top: 92%;
  width: 100%;
  left: 0;
  height: 200px;
  font-size: 20px;
  background-color: #003010;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
  display: flex; /* Menggunakan flexbox untuk tata letak */
  align-items: flex-start; /* Menyelaraskan item di awal (atas) secara vertikal */
  justify-content: flex-start; /* Menyelaraskan item di awal (kiri) secara horizontal */
  padding: 10px; /* Menambahkan padding untuk menyesuaikan jarak dari tepi */
  box-sizing: border-box; /* Memastikan padding termasuk dalam ukuran elemen */
}
